<div class="preview-container" [ngClass]="service.showPreview ? 'show-preview' : 'hide-preview'">
  <perfect-scrollbar class="transparent">
    <div class="preview-content quest-preview">

      <h5 *ngIf="!!service.title">{{ service.title }}</h5>
      <p *ngIf="!!service.level">Level: {{ service.level }}</p>
      <p *ngIf="!!service.minLevel">Requires level: {{ service.minLevel }}</p>
      <p *ngIf="!!service.side">Side: &nbsp;<span class="side {{ service.side.toLowerCase() }}"></span> {{ service.side }}</p>
      <p *ngIf="!service.side && service.races">Races: {{ service.races }}</p>
      <!-- Quest starter -->
      <p *ngIf="service.questGivenByItem | async as qitem">
        <img src="assets/img/quest/quest_start.gif">
         Start:
        <keira-icon [size]="'small'" [itemId]="qitem"></keira-icon>
        <strong class="colored">{{ service.questStarterItem | async }}</strong>
      </p>
      <div *ngIf="service.creatureQueststarterList.length > 0">
        <p *ngFor="let q of service.creatureQueststarterList">
          <img src="assets/img/quest/quest_start.gif"> NPC Start: <strong class="colored">{{ service.mysqlQueryService.getCreatureNameById(q.id) | async }}</strong>
        </p>
      </div>
      <div *ngIf="service.gameobjectQueststarterList.length > 0">
        <p *ngFor="let q of service.gameobjectQueststarterList">
          <img src="assets/img/quest/quest_start.gif"> GO Start: <strong class="colored">{{ service.mysqlQueryService.getGameObjectNameById(q.id) | async }}</strong>
        </p>
      </div>
      <!-- Quest ender -->
      <div *ngIf="service.creatureQuestenderList.length > 0">
        <p *ngFor="let q of service.creatureQuestenderList">
          <img src="assets/img/quest/quest_end.gif"> NPC End: <strong class="colored">{{ service.mysqlQueryService.getCreatureNameById(q.id) | async }}</strong>
        </p>
      </div>
      <div *ngIf="service.gameobjectQuestenderList.length > 0">
        <p *ngFor="let q of service.gameobjectQuestenderList">
          <img src="assets/img/quest/quest_end.gif"> GO End: <strong class="colored">{{ service.mysqlQueryService.getGameObjectNameById(q.id) | async }}</strong>
        </p>
      </div>
      <p>{{ service.sharable }}</p>

      <p class="title">Series</p>
      <ol>
        <li *ngFor="let quest of service.prevQuestList | async">
          <span class="colored">{{ quest.title }}</span> <span class="greyed"> [{{ quest.id }}]</span>
        </li>
        <li>
          <strong>{{ service.title }}</strong> <span class="greyed"> [{{ service.id }}]</span>
        </li>
        <li *ngFor="let quest of service.nextQuestList | async">
          <span class="colored">{{ quest.title }}</span> <span class="greyed"> [{{ quest.id }}]</span>
        </li>
      </ol>

    </div>
  </perfect-scrollbar>
</div>

<button class="btn btn-secondary btn-sm toggle-preview-button" (click)="service.showPreview = !service.showPreview">
  <i class="fas {{ service.showPreview ? 'fa-angle-double-right' : 'fa-angle-double-left' }}"></i>
</button>
