.preview-content {
  color: white;
  padding: 0 20px;

  p {
    margin-bottom: 0.3rem;
  }

  .title {
    margin-top: 10px;
    margin-bottom: 6px;
    text-align: center;
    font-weight: bold;
  }

  ol,
  ul {
    padding: 0 0 0 17px;
  }

  .colored {
    color: #ffd100;
  }

  .greyed {
    color: #dbdbdb;
  }

  .red {
    color: #f00;
  }

  .text-sm {
    font-size: 0.8rem;
  }
}
