.top-bar {
  background-color: #000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  height: 24px;
  padding: 1px;

  .main-text {
    display: block;
    text-align: center;

    font-size: 13px;
    font-weight: bold;
  }
}

.wiki-link {
  margin-top: -10px;
  margin-bottom: -20px;
  text-align: right;
  color: #337ab7;

  a:hover {
    text-decoration: none;
  }
}

.edit-form {
  hr {
    margin-top: 2px;
    margin-bottom: 14px;
  }

  text-align: center;

  .category-title {
    text-align: left;
    display: block;
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom: 14px;
  }

  label.control-label {
    font-size: 12px;
    margin-bottom: 4px;

    keira-icon img {
      height: 17px;
    }
  }

  .ng-dirty {
    border-color: #68ff5b;
    box-shadow: 0 0 0 0.2rem rgba(40, 255, 0, 0.25);
  }

  .form-error {
    text-align: left;
    color: red;
  }
}
