$preview-width: 240px;

.editor-with-preview {
  transition: padding-right .3s ease;

  &.show-preview {
    padding-right: $preview-width + 15px;
  }
}

.preview-container.show-preview {
  width: $preview-width;
}

.preview-container.hide-preview {
  width: 0;
}

.preview-container {
  transition: width .3s ease;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 22px; // topbar size
  height: 100%;
  background-color: #080d22;

  perfect-scrollbar {
    max-height: 95vh;
  }
}

.toggle-preview-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.list-req span {
  display: inline-block;
}

  /* Classes */
  .c1  { color: #C69B6D; } /* Warrior */
  .c2  { color: #F48CBA; } /* Paladin */
  .c3  { color: #AAD372; } /* Hunter */
  .c4  { color: #FFF468; } /* Rogue */
  .c5  { color: #FFFFFF; } /* Priest */
  .c6  { color: #C41E3B; } /* Death Knight */
  .c7  { color: #2359FF; } /* Shaman */
  .c8  { color: #68CCEF; } /* Mage */
  .c9  { color: #9382C9; } /* Warlock */
  .c11 { color: #FF7C0A; } /* Druid */
