.quest-preview {

  .side { padding-left: 12px; }
  .alliance { background: url(../img/quest/alliance.gif) left center no-repeat; }
  .horde { background: url(../img/quest/horde.gif) left center no-repeat; }

  .r0 { color:#ff0000!important; }
  .r1 { color:#FF8040!important; }
  .r2 { color:#FFFF00!important; }
  .r3 { color:#40BF40!important; }
  .r4 { color:#808080!important; }
}
