.quest-preview {

  .side { padding-left: 12px; }
  .alliance { background: url(../img/quest/alliance.gif) left center no-repeat; }
  .horde { background: url(../img/quest/horde.gif) left center no-repeat; }
}
