/* Custom global code coming from the sidebar lib */

body {
  font-size: .9rem;
}

.page-wrapper.toggled .sidebar {
  left: -300px;
}

.sidebar .ps.ps--active-y>.ps__rail-y:hover,
.sidebar>.ps.ps--active-y>.ps__rail-y.ps--clicking {
  width: 10px !important;
}

.ps__thumb-y {
  background-color: #fff !important;
  width: 6px!important;
  border-radius: 0px!important;
  opacity: .5;

}
