pre {
  margin-bottom: 10px;
}

code.hljs {
  background-color: #efefef;
  padding: 10px;
}

.form-check {
  input.form-check-input, label.form-check-label {
    cursor: pointer;
  }
}

.cursor-pointer,
input[type="radio"] {
  cursor: pointer;
}

.radio-container {
  position: relative;
  padding: 4px;

  input[type="radio"] {
    position: absolute;
    top: 8px;
  }

  .radio-text {
    margin-left: 16px;
  }
}

