
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~highlight.js/styles/github.css';
@import '~@swimlane/ngx-datatable/index.css';
@import './ngx-datatable.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~ngx-ui-switch/ui-switch.component.scss';
@import '~ngx-toastr/toastr-bs4-alert';

@import './sidebar.scss';
@import './utils.scss';
@import './editor.scss';

.item-preview {
  .item-stock, .item-name {
    line-height: 30px;
    font-size: 22px;
  }

  .q  { color: #ffd100!important; }
  .q0 { color: #9d9d9d!important; }
  .q1 { color: #ffffff!important; }
  .q2 { color: #1eff00!important; }
  .q3 { color: #0070dd!important; }
  .q4 { color: #a335ee!important; }
  .q5 { color: #ff8000!important; }
  .q6 { color: #e5cc80!important; }
  .q7 { color: #e5cc80!important; }

 .moneyitem, .moneygold, .moneysilver, .moneycopper, .moneyalliance, .moneyhorde, .moneyarena, .moneyachievement, .moneysocketmeta, .moneysocketred, .moneysocketyellow, .moneysocketblue, .moneysocketprismatic {
    background: no-repeat right center;
    color: white;
  }

  .moneygold   { padding-right: 15px; background-image: url(../img/money/gold.gif);   }
  .moneysilver { padding-right: 15px; background-image: url(../img/money/silver.gif); }
  .moneycopper { padding-right: 15px; background-image: url(../img/money/copper.gif); }
}

.item-select {
  .q  { color: #ffd100!important; }
  .q0 { color: #757575!important; }
  /* .q1 { color:#ffffff!important; } */
  .q2 { color: #4CAF50!important; }
  .q3 { color: #0070dd!important; }
  .q4 { color: #a335ee!important; }
  .q5 { color: #ffc107!important; }
  .q6 { color: #ffab00!important; }
  .q7 { color: #ff8a65!important; }
}
