
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~highlight.js/styles/github.css';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~ngx-ui-switch/ui-switch.component.scss';
@import '~ngx-toastr/toastr-bs4-alert';

@import './ngx-datatable';
@import './content';
@import './sidebar';
@import './perfect-scrollbar';
@import './preview';
@import './utils';
@import './editor.scss';
@import './quest-preview';
@import './item-preview';
@import './item-select';
