language: node_js
node_js:
  - '12'
dist: focal
sudo: required
services:
  - xvfb
addons:
    chrome: stable
before_script:
  - export DISPLAY=:99.0
install:
  - npm set progress=false
  - npm install
script:
  - ng lint
  - travis_retry npm run test-ci
  - travis_retry npm run e2e
  - npm run build
