<app-top-bar [handler]="handlerService"></app-top-bar>

<div class="container-fluid">

  <span *ngIf="editorService.loading">Loading...</span>

  <div *ngIf="editorService.form && !!editorService.loadedEntityId && !editorService.loading">

    <app-query-output [editorService]="editorService" (executeQuery)="editorService.save($event)"></app-query-output>

    <hr class="mt-2 mb-1">

    <div class="wiki-link">
      <a [href]="docUrl" target="_blank">
        <i class="fas fa-link"></i> {{ editorService.entityTable }} documentation
      </a>
    </div>

    <form
      [formGroup]="editorService.form"
      class="form-group edit-form"
    >
      <span class="category-title">Required Items</span>
      <div class="row">

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="RequiredItemId1">RequiredItemId1</label>
              <input [formControlName]="'RequiredItemId1'" id="RequiredItemId1" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="RequiredItemCount1">RequiredItemCount1</label>
              <input [formControlName]="'RequiredItemCount1'" id="RequiredItemCount1" class="form-control form-control-sm">
            </div>
          </div>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="RequiredItemId2">RequiredItemId2</label>
              <input [formControlName]="'RequiredItemId2'" id="RequiredItemId2" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="RequiredItemCount2">RequiredItemCount2</label>
              <input [formControlName]="'RequiredItemCount2'" id="RequiredItemCount2" class="form-control form-control-sm">
            </div>
          </div>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="RequiredItemId3">RequiredItemId3</label>
              <input [formControlName]="'RequiredItemId3'" id="RequiredItemId3" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="RequiredItemCount3">RequiredItemCount3</label>
              <input [formControlName]="'RequiredItemCount3'" id="RequiredItemCount3" class="form-control form-control-sm">
            </div>
          </div>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="RequiredItemId4">RequiredItemId4</label>
              <input [formControlName]="'RequiredItemId4'" id="RequiredItemId4" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="RequiredItemCount4">RequiredItemCount4</label>
              <input [formControlName]="'RequiredItemCount4'" id="RequiredItemCount4" class="form-control form-control-sm">
            </div>
          </div>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="RequiredItemId5">RequiredItemId5</label>
              <input [formControlName]="'RequiredItemId5'" id="RequiredItemId5" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="RequiredItemCount5">RequiredItemCount5</label>
              <input [formControlName]="'RequiredItemCount5'" id="RequiredItemCount5" class="form-control form-control-sm">
            </div>
          </div>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="RequiredItemId6">RequiredItemId6</label>
              <input [formControlName]="'RequiredItemId6'" id="RequiredItemId6" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="RequiredItemCount6">RequiredItemCount6</label>
              <input [formControlName]="'RequiredItemCount6'" id="RequiredItemCount6" class="form-control form-control-sm">
            </div>
          </div>
        </div>

      </div>

      <span class="category-title">Required Npc, Go, Faction</span>
      <div class="row">

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="RequiredNpcOrGo1">RequiredNpcOrGo1</label>
              <input [formControlName]="'RequiredNpcOrGo1'" id="RequiredNpcOrGo1" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="RequiredNpcOrGoCount1">RequiredNpcOrGoCount1</label>
              <input [formControlName]="'RequiredNpcOrGoCount1'" id="RequiredNpcOrGoCount1" class="form-control form-control-sm">
            </div>
          </div>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="RequiredNpcOrGo2">RequiredNpcOrGo2</label>
              <input [formControlName]="'RequiredNpcOrGo2'" id="RequiredNpcOrGo2" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="RequiredNpcOrGoCount2">RequiredNpcOrGoCount2</label>
              <input [formControlName]="'RequiredNpcOrGoCount2'" id="RequiredNpcOrGoCount2" class="form-control form-control-sm">
            </div>
          </div>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="RequiredNpcOrGo3">RequiredNpcOrGo3</label>
              <input [formControlName]="'RequiredNpcOrGo3'" id="RequiredNpcOrGo3" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="RequiredNpcOrGoCount3">RequiredNpcOrGoCount3</label>
              <input [formControlName]="'RequiredNpcOrGoCount3'" id="RequiredNpcOrGoCount3" class="form-control form-control-sm">
            </div>
          </div>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="RequiredNpcOrGo4">RequiredNpcOrGo4</label>
              <input [formControlName]="'RequiredNpcOrGo4'" id="RequiredNpcOrGo4" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="RequiredNpcOrGoCount4">RequiredNpcOrGoCount4</label>
              <input [formControlName]="'RequiredNpcOrGoCount4'" id="RequiredNpcOrGoCount4" class="form-control form-control-sm">
            </div>
          </div>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="RequiredFactionId1">RequiredFactionId1</label>
              <input [formControlName]="'RequiredFactionId1'" id="RequiredFactionId1" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="RequiredFactionId2">RequiredFactionId2</label>
              <input [formControlName]="'RequiredFactionId2'" id="RequiredFactionId2" class="form-control form-control-sm">
            </div>
          </div>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="RequiredFactionValue1">RequiredFactionValue1</label>
              <input [formControlName]="'RequiredFactionValue1'" id="RequiredFactionValue1" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="RequiredFactionValue2">RequiredFactionValue2</label>
              <input [formControlName]="'RequiredFactionValue2'" id="RequiredFactionValue2" class="form-control form-control-sm">
            </div>
          </div>
        </div>

      </div>

      <span class="category-title">Reward Items</span>
      <div class="row">

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="RewardItem1">RewardItem1</label>
              <input [formControlName]="'RewardItem1'" id="RewardItem1" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="RewardAmount1">RewardAmount1</label>
              <input [formControlName]="'RewardAmount1'" id="RewardAmount1" class="form-control form-control-sm">
            </div>
          </div>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="RewardItem2">RewardItem2</label>
              <input [formControlName]="'RewardItem2'" id="RewardItem2" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="RewardAmount2">RewardAmount2</label>
              <input [formControlName]="'RewardAmount2'" id="RewardAmount2" class="form-control form-control-sm">
            </div>
          </div>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="RewardItem3">RewardItem3</label>
              <input [formControlName]="'RewardItem3'" id="RewardItem3" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="RewardAmount3">RewardAmount3</label>
              <input [formControlName]="'RewardAmount3'" id="RewardAmount3" class="form-control form-control-sm">
            </div>
          </div>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="RewardItem4">RewardItem4</label>
              <input [formControlName]="'RewardItem4'" id="RewardItem4" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="RewardAmount4">RewardAmount4</label>
              <input [formControlName]="'RewardAmount4'" id="RewardAmount4" class="form-control form-control-sm">
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
