<app-top-bar [handler]="handlerService"></app-top-bar>

<div class="container-fluid">

  <span *ngIf="editorService.loading">Loading...</span>

  <div *ngIf="editorService.form && !!editorService.loadedEntityId && !editorService.loading">

    <app-query-output [editorService]="editorService" (executeQuery)="editorService.save($event)"></app-query-output>

    <hr class="mt-2 mb-1">

    <div class="wiki-link">
      <a [href]="docUrl" target="_blank">
        <i class="fas fa-link"></i> {{ editorService.entityTable }} documentation
      </a>
    </div>

    <form
      [formGroup]="editorService.form"
      class="form-group edit-form"
    >
      <br>
      <div class="row">
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <label class="control-label" for="ID">ID</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'The unique ID of the quest'"
          ></i>
          <input [formControlName]="'ID'" id="ID" type="number" class="form-control form-control-sm">
        </div>

        <div class="form-group col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
          <label class="control-label" for="CompletionText">CompletionText</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'Quest gossip text shown in the final gossip dialogue window when turning in an item delivery quest.'"
          ></i>
          <input [formControlName]="'CompletionText'" id="CompletionText" class="form-control form-control-sm">
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <label class="control-label" for="EmoteOnComplete">EmoteOnComplete</label>
          <app-single-value-selector-btn
            [control]="editorService.form.get('EmoteOnComplete')"
            [config]="{ options: EMOTE, name: 'EmoteOnComplete' }"
            [modalClass]="'modal-md'"
          ></app-single-value-selector-btn>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'Played by the quest ender NPC when all quest objectives are completed.'"
          ></i>
          <input [formControlName]="'EmoteOnComplete'" id="EmoteOnComplete" type="number" class="form-control form-control-sm">
        </div>

        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <label class="control-label" for="EmoteOnIncomplete">EmoteOnIncomplete</label>
          <app-single-value-selector-btn
            [control]="editorService.form.get('EmoteOnIncomplete')"
            [config]="{ options: EMOTE, name: 'EmoteOnIncomplete' }"
            [modalClass]="'modal-md'"
          ></app-single-value-selector-btn>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'Played by the quest ender NPC if any of the quest objectives are incomplete.'"
          ></i>
          <input [formControlName]="'EmoteOnIncomplete'" id="EmoteOnIncomplete" type="number" class="form-control form-control-sm">
        </div>
      </div>

    </form>

  </div>
</div>
