.reference {
  font-weight: bold;
}

.group-1,
.group-2,
.group-3,
.group-4,
.group-5,
.group-6,
.group-7,
.group-8,
.group-9 {
  display: block;
  color: white;
  width: 20px;
  margin: auto;
  font-weight: bold;
  border-radius: 5px;
}

.group-1 {
  background-color: #0f7200;
}

.group-2 {
  background-color: #a70000;
}

.group-3 {
  background-color: #0014d2;
}

.group-4 {
  background-color: #936200;
}

.group-5 {
  background-color: #5900b1;
}

.group-6 {
  background-color: #000;
}

.group-7 {
  background-color: #740090;
}

.group-8 {
  background-color: #389c01;
}

.group-9 {
  background-color: #ac00a3;
}
