.reference,
.group-1,
.group-2,
.group-3,
.group-4,
.group-5,
.group-6,
.group-7,
.group-8,
.group-9 {
  font-weight: bold;
}

.reference {
  color: #6866e2;
}

.group-1 {
  color: #0f7200;
}

.group-2 {
  color: #a70000;
}

.group-3 {
  color: #0014d2;
}

.group-4 {
  color: #936200;
}

.group-5 {
  color: #5900b1;
}

.group-6 {
  color: #4d7900;
}

.group-7 {
  color: #740090;
}

.group-8 {
  color: #389c01;
}

.group-9 {
  color: #007074;
}

