@import 'variables';

.modal-content {
  background-color: $content-block-bg-color;
}

.page-wrapper {
  height: 100vh;

  .page-content {
    background-color: #00000024;
    min-height: 100vh;
    display: inline-block;
    width: 100%;
    transition: padding-left 0.3s ease;
    padding-left: $sidebar-width;

    .content-block {
      background-color: $content-block-bg-color;
      padding: 20px 16px;
      margin-top: 15px;
      margin-bottom: 15px;
      border-radius: 4px;
      box-shadow:
        0 0 15px 1px rgba(43, 43, 43, 0.1),
        0 11px 6px -7px rgba(43, 43, 43, 0.1);
    }
  }

  .sidebar {
    left: 0;
  }

  &.toggled {
    .page-content {
      padding-left: 0;
    }
  }
}
