@import 'variables';

input.ng-invalid.ng-touched {
  border-color: red;
}

.top-bar {
  background-color: #000;
  color: $content-block-bg-color;
  font-family: monospace;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 24px;
  padding: 1px;

  .main-text {
    display: block;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin: auto;
    padding-right: 12px;
    padding-left: 12px;
  }
}

.wiki-link {
  text-align: right;
  color: #337ab7;

  a:hover {
    text-decoration: none;
  }
}

.edit-form {
  hr {
    margin-top: 2px;
    margin-bottom: 14px;
  }

  text-align: center;

  .category-title {
    text-align: left;
    display: block;
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom: 14px;
  }

  label.control-label {
    font-size: 12px;
    margin-bottom: 4px;

    keira-icon img {
      height: 17px;
    }
  }

  .ng-dirty {
    border-color: #5b6cff87;
    box-shadow: 0 0 0 0.2rem rgba(16, 0, 255, 0.13);
  }

  .form-error {
    text-align: left;
    color: red;
  }
}
