.quest-preview {
  .r0 {
    color: #f00 !important;
  }
  .r1 {
    color: #ff8040 !important;
  }
  .r2 {
    color: #ff0 !important;
  }
  .r3 {
    color: #40bf40 !important;
  }
  .r4 {
    color: #808080 !important;
  }
}
