pre {
  margin-bottom: 10px;
}

code.hljs {
  background-color: #efefef;
  padding: 10px;
  min-height: 38px;
}

.form-check {
  input.form-check-input,
  label.form-check-label {
    cursor: pointer;
  }
}

.btn:disabled {
  cursor: default;
}

.cursor-pointer,
input[type='radio'] {
  cursor: pointer;
}

.radio-container {
  position: relative;
  padding: 4px;

  input[type='radio'] {
    position: absolute;
    top: 8px;
  }

  .radio-text {
    margin-left: 16px;
  }
}

.side {
  padding-left: 16px;
}
.alliance {
  background: url(../../assets/img/quest/alliance.gif) left center no-repeat;
}
.horde {
  background: url(../../assets/img/quest/horde.gif) left center no-repeat;
}
.arena {
  background: url(../../assets/img/pvp/arena.gif) left center no-repeat;
}
.item-extended-cost {
  display: inline-block;
  background-color: inherit;
  color: inherit;
  padding: 4px 10px 4px 0px;
}
.item-extended-cost img {
  vertical-align: sub;
}
