<app-top-bar [handler]="handlerService"></app-top-bar>

<div class="container-fluid">

  <span *ngIf="editorService.loading">Loading...</span>

  <div *ngIf="editorService.form && !!editorService.loadedEntityId && !editorService.loading">

    <app-query-output [editorService]="editorService" (executeQuery)="editorService.save($event)"></app-query-output>

    <hr class="mt-2 mb-1">

    <div class="wiki-link mb-2">
      <a [href]="docUrl" target="_blank">
        <i class="fas fa-link"></i> {{ editorService.entityTable }} documentation
      </a>
    </div>

    <form
      [formGroup]="editorService.form"
      class="form-group edit-form"
    >

      <div class="row">
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="CreatureID">CreatureID</label>
          <input [formControlName]="'CreatureID'" id="CreatureID" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="ItemID1">ItemID1</label>
          <app-item-selector-btn
            [control]="editorService.form.get('ItemID1')"
            [config]="{  name: 'ItemID1' }"
          ></app-item-selector-btn>
          <input [formControlName]="'ItemID1'" id="ItemID1" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="ItemID2">ItemID2</label>
          <app-item-selector-btn
            [control]="editorService.form.get('ItemID2')"
            [config]="{  name: 'ItemID2' }"
          ></app-item-selector-btn>
          <input [formControlName]="'ItemID2'" id="ItemID2" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="ItemID3">ItemID3</label>
          <app-item-selector-btn
            [control]="editorService.form.get('ItemID3')"
            [config]="{  name: 'ItemID3' }"
          ></app-item-selector-btn>
          <input [formControlName]="'ItemID3'" id="ItemID3" type="number" class="form-control form-control-sm">
        </div>
      </div>

    </form>
  </div>
</div>
