<app-top-bar [handler]="handlerService"></app-top-bar>

<div class="container-fluid">

  <span *ngIf="editorService.loading">Loading...</span>

  <div *ngIf="editorService.form && !!editorService.loadedEntityId && !editorService.loading">

    <app-query-output [editorService]="editorService" (executeQuery)="editorService.save($event)"></app-query-output>

    <hr class="mt-2 mb-1">

    <div class="wiki-link mb-2">
      <a [href]="docUrl" target="_blank">
        <i class="fas fa-link"></i> {{ editorService.entityTable }} documentation
      </a>
    </div>

    <form
      [formGroup]="editorService.form"
      class="form-group edit-form"
    >

      <div class="row">
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <label class="control-label" for="guid">guid</label>
          <input [formControlName]="'guid'" id="guid" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <label class="control-label" for="path_id">path_id</label>
          <input [formControlName]="'path_id'" id="path_id" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <label class="control-label" for="mount">mount</label>
          <input [formControlName]="'mount'" id="mount" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <label class="control-label" for="bytes1">bytes1</label>
          <input [formControlName]="'bytes1'" id="bytes1" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <label class="control-label" for="bytes2">bytes2</label>
          <input [formControlName]="'bytes2'" id="bytes2" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <label class="control-label" for="emote">emote</label>
          <input [formControlName]="'emote'" id="emote" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <label class="control-label" for="auras">auras</label>
          <input [formControlName]="'auras'" id="auras" class="form-control form-control-sm">
        </div>

        <div class="col-12 form-error" [hidden]="editorService.isFormIdUnique()">
          <i class="fas fa-exclamation-triangle"></i>
          The <strong>{{ editorService.entitySecondIdField }}</strong> must be unique.
        </div>

      </div>

    </form>

    <div class="row">
      <div class="col-12">

        <button
          class="btn btn-danger btn-sm mr-2"
          (click)="editorService.deleteSelectedRow()"
          [disabled]="editorService.selectedRowId === null"
        >Delete selected row</button>

        <button
          class="btn btn-success btn-sm"
          (click)="editorService.addNewRow()"
        >Add new row</button>

        <ngx-datatable
          class="bootstrap table table-striped text-center datatable-select"
          [rows]="editorService.newRows"
          [headerHeight]="DTCFG.headerHeight"
          [footerHeight]="DTCFG.footerHeight"
          [columnMode]="DTCFG.columnMode"
          [rowHeight]="DTCFG.rowHeight"
          [selectionType]="DTCFG.selectionType"
          (select)='editorService.onRowSelection($event)'>
          <ngx-datatable-column [width]="30" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <i [hidden]="!editorService.isRowSelected(row)" class="fas fa-chevron-right"></i>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="guid" prop="guid" [minWidth]="80"></ngx-datatable-column>
          <ngx-datatable-column name="path_id" prop="path_id"></ngx-datatable-column>
          <ngx-datatable-column name="mount" prop="mount"></ngx-datatable-column>
          <ngx-datatable-column name="bytes1" prop="bytes1"></ngx-datatable-column>
          <ngx-datatable-column name="bytes2" prop="bytes2"></ngx-datatable-column>
          <ngx-datatable-column name="emote" prop="emote"></ngx-datatable-column>
          <ngx-datatable-column name="auras" prop="auras"></ngx-datatable-column>
        </ngx-datatable>

      </div>
    </div>
  </div>
</div>
