<div class="wrapper img-{{ RANDOM_IMAGE }}">
  <div class="content">

    <div class="title">
      <span class="lead font-weight-bold">Keira {{ KEIRA_VERSION }}</span>
    </div>

    <div class="form-wrapper" *ngIf="form">
      <form [formGroup]="form">
        <div class="form-group">
          <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-server"></i>Host</span></div>
          <input
            [formControlName]="'host'"
            class="form-control"
            id="host"
            placeholder="Enter your MySQL server address"
          >
        </div>
        <div class="form-group">
          <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-network-wired"></i>Port</span></div>
          <input
            [formControlName]="'port'"
            class="form-control"
            id="port"
            placeholder="Enter your MySQL server port"
          >
        </div>
        <div class="form-group">
          <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-user"></i>Username</span></div>
          <input
            [formControlName]="'user'"
            class="form-control"
            id="user"
            placeholder="Enter your MySQL user name"
          >
        </div>
        <div class="form-group">
          <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-key"></i>Password</span></div>
          <input
            [formControlName]="'password'"
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter your MySQL user password"
          >
        </div>
        <div class="form-group">
          <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-database"></i>Database</span></div>
          <input
            [formControlName]="'database'"
            class="form-control"
            id="database"
            placeholder="Enter your AC world database name"
          >
        </div>
        <div class="recent-container" *ngIf="configs">
          <div class="btn-group" dropdown [dropup]="true" [isDisabled]="true">
            <button dropdownToggle type="button" class="btn btn-sm btn-primary dropdown-toggle">
              <i class="fas fa-history"></i> Load recent <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem">
                <a class="dropdown-item" href="#" (click)="removeAllConfigs()"><i class="fa fa-trash-alt"></i> Clear all</a>
              </li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem" *ngFor="let config of configs">
                <a class="dropdown-item" href="#" (click)="loadConfig(config)">
                  {{ config.host }}:{{ config.port }}:{{ config.user }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <button class="btn btn-primary connect-button" (click)="onConnect()">Connect</button>
      </form>

      <div class="login-error-box">
        <keira-query-error [error]="error"></keira-query-error>
      </div>

    </div>

    <div class="end-text">
      <!-- We have worked hard to create Keira3 for free, please do not remove the credits -->
      Created by <a href="https://github.com/FrancescoBorzi" target="_blank">Shin</a> && <a href="https://github.com/Helias" target="_blank">Helias</a>
    </div>
  </div>
</div>
