<div class="container">
  <div class="mt-3 text-center">
    <span class="lead font-weight-bold">Keira {{ KEIRA_VERSION }}</span>
  </div>
  <hr>
  <div class="form-wrapper" *ngIf="form">
    <form [formGroup]="form" class="mb-4">
      <div class="form-group row">
        <label class="col-4 col-form-label" for="host">Host</label>
        <input
          [formControlName]="'host'"
          class="form-control col-7"
          id="host"
          placeholder="Enter your MySQL server address"
        >
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label" for="port">Port</label>
        <input
          [formControlName]="'port'"
          class="form-control col-7"
          id="port"
          placeholder="Enter your MySQL server port"
        >
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label" for="user">User</label>
        <input
          [formControlName]="'user'"
          class="form-control col-7"
          id="user"
          placeholder="Enter your MySQL user name"
        >
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label" for="password">Password</label>
        <input
          [formControlName]="'password'"
          type="password"
          class="form-control col-7"
          id="password"
          placeholder="Enter your MySQL user password"
        >
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label" for="database">Database</label>
        <input
          [formControlName]="'database'"
          class="form-control col-7"
          id="database"
          placeholder="Enter your AC world database name"
        >
      </div>
      <button class="btn btn-success connect-button" (click)="onConnect()">Connect</button>
    </form>

    <app-query-error [error]="error"></app-query-error>
  </div>
</div>
