<nav
  id="sidebar"
  class="sidebar"
  [ngClass]="{'sidebar-bg' : hasBackgroundImage()}"
  style="background-image: url(assets/img/bg1.jpg);"
>
  <div class="sidebar-content">
    <perfect-scrollbar>
      <div class="sidebar-header">
        <a href="#">Keira3 Database Editor</a>
      </div>

      <div class="sidebar-profile">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="assets/img/ac.png" alt="User picture">
        </div>
        <div class="user-info" *ngIf="mysqlService.config">
          <span class="db-user">
            <strong>{{ mysqlService.config.user }}</strong>
          </span>
          <span class="db-host">
            <strong>{{ mysqlService.config.host }}<span class="port">:{{ mysqlService.config.port }}</span></strong>
          </span>
          <span class="db-name">
            <strong><i>{{ mysqlService.config.database }}</i></strong>
          </span>
          <span class="user-status">
            <i class="fa fa-circle connection-status" [ngClass]="mysqlService.getConnectionState()"></i>
            <span>{{ mysqlService.getConnectionState() | titlecase }}</span>
          </span>
        </div>
      </div>

      <div class="sidebar-menu">
        <ul>

          <li>
            <a id="dashboard-toggle" href="#" [routerLink]="''">Dashboard</a>
          </li>

          <li>
            <a id="collapse-all" (click)="collapseAll()">Collapse All</a>
          </li>

          <li class="header-menu">
            <span>Editors</span>
          </li>

          <li class="sidebar-dropdown" [ngClass]="{ 'active': menuStates.creature === 'down' }">
            <a id="creature-editor-toggle" (click)="toggleState('creature')">
              <i class="fa fa-pen"></i>
              <span>Creature</span>
            </a>

            <div class="sidebar-submenu" [@slide]="menuStates.creature">
              <ul>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'creature/select'">
                    Select Creature Template
                  </a>
                </li>
                <ng-container *ngIf="creatureHandlerService.selected">
                  <li>
                    <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-template'">
                      Creature Template
                    </a>
                  </li>
                  <ng-container *ngIf="!creatureHandlerService.isNew">
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-template-addon'">
                        Template Addon
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-onkill-reputation'">
                        Onkill Reputation
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-equip-template'">
                        Equip Template
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/npc-vendor'">
                        Vendor
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/npc-trainer'">
                        Trainer
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-questitem'">
                        Quest Item
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-loot-template'">
                        Creature Loot
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/pickpocketing-loot-template'">
                        Pickpocketing Loot
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/skinning-loot-template'">
                        Skinning Loot
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/spawns'">
                        Spawns
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/spawns-addon'">
                        Spawns Addon
                      </a>
                    </li>
                  </ng-container>
                </ng-container>

              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown" [ngClass]="{ 'active': menuStates.quest === 'down' }">
            <a (click)="toggleState('quest')">
              <i class="fa fa-pen"></i>
              <span>Quest</span>
            </a>

            <div class="sidebar-submenu" [@slide]="menuStates.quest">
              <ul>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'coming-soon'">
                    Coming soon...
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown" [ngClass]="{ 'active': menuStates.gameobject === 'down' }">
            <a (click)="toggleState('gameobject')">
              <i class="fa fa-pen"></i>
              <span>GameObject</span>
            </a>

            <div class="sidebar-submenu" [@slide]="menuStates.gameobject">
              <ul>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'coming-soon'">
                    Coming soon...
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown" [ngClass]="{ 'active': menuStates.item === 'down' }">
            <a (click)="toggleState('item')">
              <i class="fa fa-pen"></i>
              <span>Item</span>
            </a>

            <div class="sidebar-submenu" [@slide]="menuStates.item">
              <ul>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'coming-soon'">
                    Coming soon...
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown" [ngClass]="{ 'active': menuStates.smartAi === 'down' }">
            <a (click)="toggleState('smartAi')">
              <i class="fa fa-pen"></i>
              <span>SmartAI</span>
            </a>

            <div class="sidebar-submenu" [@slide]="menuStates.smartAi">
              <ul>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'coming-soon'">
                    Coming soon...
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown" [ngClass]="{ 'active': menuStates.conditions === 'down' }">
            <a (click)="toggleState('conditions')">
              <i class="fa fa-pen"></i>
              <span>Conditions</span>
            </a>

            <div class="sidebar-submenu" [@slide]="menuStates.conditions">
              <ul>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'coming-soon'">
                    Coming soon...
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown" [ngClass]="{ 'active': menuStates.gossip === 'down' }">
            <a (click)="toggleState('gossip')">
              <i class="fa fa-pen"></i>
              <span>Gossip</span>
            </a>

            <div class="sidebar-submenu" [@slide]="menuStates.gossip">
              <ul>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'coming-soon'">
                    Coming soon...
                  </a>
                </li>
              </ul>
            </div>
          </li>

        </ul>
      </div>
    </perfect-scrollbar>
  </div>

    <button class="btn btn-secondary btn-sm sidebar-button" (click)="toggleSidebar()">
      <i class="fas {{ getSideBarState() ? 'fa-angle-double-right' : 'fa-angle-double-left' }}"></i>
    </button>
</nav>
