.item-select {
  /* Quality (used for text with white background) */

  .q {
    color: #ffd100;
  }
  .q0 {
    color: #757575;
  }
  /* .q1 { color:#ffffff; } */
  .q2 {
    color: #4caf50;
  }
  .q3 {
    color: #0070dd;
  }
  .q4 {
    color: #a335ee;
  }
  .q5 {
    color: #ffc107;
  }
  .q6 {
    color: #ffab00;
  }
  .q7 {
    color: #ff8a65;
  }
}
