<nav id="sidebar" class="sidebar perfect-scrollbar-transparent" [ngClass]="{ 'sidebar-bg': hasBackgroundImage() }" [style]="style">
  <div class="sidebar-content">
    <perfect-scrollbar class="transparent">
      <div class="sidebar-header">
        <a href="#">Keira3 Database Editor</a>
      </div>

      <div class="sidebar-profile">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="assets/img/ac.png" alt="User picture" />
        </div>
        <div class="user-info" *ngIf="mysqlService.config">
          <span class="db-user">
            <strong>{{ mysqlService.config.user }}</strong>
          </span>
          <span class="db-host">
            <strong
              >{{ mysqlService.config.host }}<span class="port">:{{ mysqlService.config.port }}</span></strong
            >
          </span>
          <span class="db-name">
            <strong
              ><i>{{ mysqlService.config.database }}</i></strong
            >
          </span>
          <span class="user-status">
            <i class="fa fa-circle connection-status" [ngClass]="mysqlService.getConnectionState()"></i>
            <span>{{ mysqlService.getConnectionState() | titlecase }}</span>
          </span>
          <span>
            <keira-switch-language></keira-switch-language>
          </span>
          <span>
            <keira-logout-btn></keira-logout-btn>
          </span>
        </div>
      </div>

      <div class="sidebar-menu">
        <ul>
          <li>
            <a id="dashboard-toggle" href="#" [routerLink]="''">
              <i class="fa fa-tachometer-alt"></i> {{ 'SIDEBAR.DASHBOARD' | translate }}
            </a>
          </li>

          <li>
            <a id="sql-editor-toggle" href="#" [routerLink]="'sql-editor'">
              <i class="fa fa-code"></i> {{ 'SIDEBAR.SQL_EDITOR' | translate }}
            </a>
          </li>

          <li>
            <a id="collapse-all" (click)="collapseAll()">
              <i class="fas fa-angle-double-up"></i> {{ 'SIDEBAR.COLLAPSE_ALL' | translate }}
            </a>
          </li>

          <li class="sidebar-dropdown" [ngClass]="{ active: menuStates.creature === 'down' }">
            <a id="creature-editor-toggle" (click)="toggleState('creature')">
              <i class="fa fa-dragon"></i>
              <span [translate]="'SIDEBAR.CREATURE.TITLE'"></span>
            </a>

            <div class="sidebar-submenu" [@slide]="menuStates.creature">
              <ul>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'creature/select'">
                    {{ 'SIDEBAR.CREATURE.SELECT_CREATURE' | translate }}
                  </a>
                </li>
                <ng-container *ngIf="creatureHandlerService.selected">
                  <li>
                    <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-template'">
                      {{ 'SIDEBAR.CREATURE.CREATURE_TEMPLATE' | translate }}
                      <keira-unsaved-icon *ngIf="creatureHandlerService.isCreatureTemplateUnsaved"></keira-unsaved-icon>
                    </a>
                  </li>
                  <ng-container *ngIf="!creatureHandlerService.isNew">
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-template-addon'">
                        {{ 'SIDEBAR.CREATURE.TEMPLATE_ADDON' | translate }}
                        <keira-unsaved-icon *ngIf="creatureHandlerService.isCreatureTemplateAddonUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-template-resistance'">
                        {{ 'SIDEBAR.CREATURE.TEMPLATE_RESISTANCE' | translate }}
                        <keira-unsaved-icon *ngIf="creatureHandlerService.isCreatureTemplateResistanceUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-template-spell'">
                        {{ 'SIDEBAR.CREATURE.TEMPLATE_SPELL' | translate }}
                        <keira-unsaved-icon *ngIf="creatureHandlerService.isCreatureTemplateSpellUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-template-movement'">
                        {{ 'SIDEBAR.CREATURE.TEMPLATE_MOVEMENT' | translate }}
                        <keira-unsaved-icon *ngIf="creatureHandlerService.isCreatureTemplateMovementUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-onkill-reputation'">
                        {{ 'SIDEBAR.CREATURE.ONKILL_REPUTATION' | translate }}
                        <keira-unsaved-icon *ngIf="creatureHandlerService.isCreatureOnkillReputationUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-equip-template'">
                        {{ 'SIDEBAR.CREATURE.EQUIP_TEMPLATE' | translate }}
                        <keira-unsaved-icon *ngIf="creatureHandlerService.isCreatureEquipTemplateUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/npc-vendor'">
                        {{ 'SIDEBAR.CREATURE.VENDOR' | translate }}
                        <keira-unsaved-icon *ngIf="creatureHandlerService.isNpcVendorUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/npc-trainer'">
                        {{ 'SIDEBAR.CREATURE.TRAINER' | translate }}
                        <keira-unsaved-icon *ngIf="creatureHandlerService.isNpcTrainerUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-questitem'">
                        {{ 'SIDEBAR.CREATURE.QUEST_ITEM' | translate }}
                        <keira-unsaved-icon *ngIf="creatureHandlerService.isCreatureQuestitemUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-loot-template'">
                        {{ 'SIDEBAR.CREATURE.CREATURE_LOOT' | translate }}
                        <keira-unsaved-icon *ngIf="creatureHandlerService.isCreatureLootTemplateUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/pickpocketing-loot-template'">
                        {{ 'SIDEBAR.CREATURE.PICKPOCKETING_LOOT' | translate }}
                        <keira-unsaved-icon *ngIf="creatureHandlerService.isPickpocketingLootTemplateUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/skinning-loot-template'">
                        {{ 'SIDEBAR.CREATURE.SKINNING_LOOT' | translate }}
                        <keira-unsaved-icon *ngIf="creatureHandlerService.isSkinningLootTemplateUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-spawn'">
                        {{ 'SIDEBAR.CREATURE.SPAWN' | translate }}
                        <keira-unsaved-icon *ngIf="creatureHandlerService.isCreatureSpawnUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/creature-spawn-addon'">
                        {{ 'SIDEBAR.CREATURE.SPAWN_ADDON' | translate }}
                        <keira-unsaved-icon *ngIf="creatureHandlerService.isCreatureSpawnAddonUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'creature/sai-creature'">
                        {{ 'SIDEBAR.CREATURE.SMARTAI' | translate }}
                        <keira-unsaved-icon *ngIf="creatureHandlerService.isCreatureSaiUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown" [ngClass]="{ active: menuStates.quest === 'down' }">
            <a (click)="toggleState('quest')">
              <i class="fa fa-scroll"></i>
              <span [translate]="'SIDEBAR.QUEST.TITLE'"></span>
            </a>

            <div class="sidebar-submenu" [@slide]="menuStates.quest">
              <ul>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'quest/select'"> {{ 'SIDEBAR.QUEST.SELECT_QUEST' | translate }} </a>
                </li>
                <ng-container *ngIf="questHandlerService.selected">
                  <li>
                    <a href="#" routerLinkActive="active" [routerLink]="'quest/quest-template'">
                      {{ 'SIDEBAR.QUEST.QUEST_TEMPLATE' | translate }}
                      <keira-unsaved-icon *ngIf="questHandlerService.isQuestTemplateUnsaved"></keira-unsaved-icon>
                    </a>
                  </li>
                  <ng-container *ngIf="!questHandlerService.isNew">
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'quest/quest-template-addon'">
                        {{ 'SIDEBAR.QUEST.QUEST_TEMPLATE_ADDON' | translate }}

                        <keira-unsaved-icon *ngIf="questHandlerService.isQuestTemplateAddonUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'quest/quest-offer-reward'">
                        {{ 'SIDEBAR.QUEST.QUEST_OFFER_REWARD' | translate }}
                        <keira-unsaved-icon *ngIf="questHandlerService.isQuestOfferRewardUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'quest/quest-request-items'">
                        {{ 'SIDEBAR.QUEST.QUEST_REQUEST_ITEMS' | translate }}
                        <keira-unsaved-icon *ngIf="questHandlerService.isQuestRequestItemsUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'quest/creature-queststarter'">
                        {{ 'SIDEBAR.QUEST.CREATURE_QUESTSTARTER' | translate }}

                        <keira-unsaved-icon *ngIf="questHandlerService.isCreatureQueststarterUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'quest/creature-questender'">
                        {{ 'SIDEBAR.QUEST.CREATURE_QUESTENDER' | translate }}

                        <keira-unsaved-icon *ngIf="questHandlerService.isCreatureQuestenderUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'quest/gameobject-queststarter'">
                        {{ 'SIDEBAR.QUEST.GAMEOBJECT_QUESTSTARTER' | translate }}

                        <keira-unsaved-icon *ngIf="questHandlerService.isGameobjectQueststarterUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'quest/gameobject-questender'">
                        {{ 'SIDEBAR.QUEST.GAMEOBJECT_QUESTENDER' | translate }}

                        <keira-unsaved-icon *ngIf="questHandlerService.isGameobjectQuestenderUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown" [ngClass]="{ active: menuStates.gameobject === 'down' }">
            <a (click)="toggleState('gameobject')">
              <i class="fa fa-dungeon"></i>
              <span [translate]="'SIDEBAR.GAME_OBJECT.TITLE'"></span>
            </a>
            <div class="sidebar-submenu" [@slide]="menuStates.gameobject">
              <ul>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'gameobject/select'">
                    {{ 'SIDEBAR.GAME_OBJECT.SELECT_GAMEOBJECT' | translate }}
                  </a>
                </li>
                <ng-container *ngIf="gameobjectHandlerService.selected">
                  <li>
                    <a href="#" routerLinkActive="active" [routerLink]="'gameobject/gameobject-template'">
                      {{ 'SIDEBAR.GAME_OBJECT.GAMEOBJECT_TEMPLATE' | translate }}
                      <keira-unsaved-icon *ngIf="gameobjectHandlerService.isGameobjectTemplateUnsaved"></keira-unsaved-icon>
                    </a>
                  </li>
                  <ng-container *ngIf="!gameobjectHandlerService.isNew">
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'gameobject/gameobject-template-addon'">
                        {{ 'SIDEBAR.GAME_OBJECT.TEMPLATE_ADDON' | translate }}
                        <keira-unsaved-icon *ngIf="gameobjectHandlerService.isGameobjectTemplateAddonUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'gameobject/gameobject-questitem'">
                        {{ 'SIDEBAR.GAME_OBJECT.QUEST_ITEMS' | translate }}
                        <keira-unsaved-icon *ngIf="gameobjectHandlerService.isGameobjectQuestitemUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'gameobject/gameobject-loot-template'">
                        {{ 'SIDEBAR.GAME_OBJECT.GAMEOBJECT_LOOT' | translate }}

                        <keira-unsaved-icon *ngIf="gameobjectHandlerService.isGameobjectLooTemplateUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'gameobject/gameobject-spawn'">
                        {{ 'SIDEBAR.GAME_OBJECT.SPAWN' | translate }}
                        <keira-unsaved-icon *ngIf="gameobjectHandlerService.isGameobjectSpawnUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'gameobject/gameobject-spawn-addon'">
                        {{ 'SIDEBAR.GAME_OBJECT.SPAWN_ADDON' | translate }}
                        <keira-unsaved-icon *ngIf="gameobjectHandlerService.isGameobjectSpawnAddonUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'gameobject/sai-gameobject'">
                        {{ 'SIDEBAR.GAME_OBJECT.SMART_AI' | translate }}
                        <keira-unsaved-icon *ngIf="gameobjectHandlerService.isGameobjectSaiUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown" [ngClass]="{ active: menuStates.item === 'down' }">
            <a (click)="toggleState('item')">
              <i class="fa fa-gavel"></i>
              <span [translate]="'SIDEBAR.ITEM.TITLE'"></span>
            </a>
            <div class="sidebar-submenu" [@slide]="menuStates.item">
              <ul>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'item/select'">
                    {{ 'SIDEBAR.ITEM.SELECT_ITEM' | translate }}
                  </a>
                </li>
                <ng-container *ngIf="itemHandlerService.selected">
                  <li>
                    <a href="#" routerLinkActive="active" [routerLink]="'item/item-template'">
                      {{ 'SIDEBAR.ITEM.ITEM_TEMPLATE' | translate }}
                      <keira-unsaved-icon *ngIf="itemHandlerService.isItemTemplateUnsaved"></keira-unsaved-icon>
                    </a>
                  </li>
                  <ng-container *ngIf="!itemHandlerService.isNew">
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'item/item-enchantment-template'">
                        {{ 'SIDEBAR.ITEM.ENCHANTMENT_TEMPLATE' | translate }}
                        <keira-unsaved-icon *ngIf="itemHandlerService.isItemEnchantmentUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'item/item-loot-template'">
                        {{ 'SIDEBAR.ITEM.ITEM_LOOT' | translate }}
                        <keira-unsaved-icon *ngIf="itemHandlerService.isItemLootTemplateUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'item/disenchant-loot-template'">
                        {{ 'SIDEBAR.ITEM.DISENCHANT_LOOT' | translate }}

                        <keira-unsaved-icon *ngIf="itemHandlerService.isDisenchantmentLootTemplateUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'item/prospecting-loot-template'">
                        {{ 'SIDEBAR.ITEM.PROSPECTING_LOOT' | translate }}

                        <keira-unsaved-icon *ngIf="itemHandlerService.isProspectingLootTemplateUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'item/milling-loot-template'">
                        {{ 'SIDEBAR.ITEM.MILLING_LOOT' | translate }}
                        <keira-unsaved-icon *ngIf="itemHandlerService.isMillingLootTemplateUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown" [ngClass]="{ active: menuStates.otherLoot === 'down' }">
            <a (click)="toggleState('otherLoot')">
              <i class="fa fa-coins"></i>
              <span [translate]="'SIDEBAR.OTHER_LOOTS.TITLE'"></span>
            </a>
            <div class="sidebar-submenu" [@slide]="menuStates.otherLoot">
              <ul>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'other-loots/select-reference'">
                    {{ 'SIDEBAR.OTHER_LOOTS.SELECT_REFERENCE_LOOT' | translate }}
                  </a>
                </li>
                <li *ngIf="referenceLootHandlerService.selected">
                  <a href="#" routerLinkActive="active" [routerLink]="'other-loots/reference'">
                    {{ 'SIDEBAR.OTHER_LOOTS.REFERENCE_LOOT_TEMPLATE' | translate }}
                    <keira-unsaved-icon *ngIf="spellLootHandlerService.isUnsaved"></keira-unsaved-icon>
                  </a>
                </li>
                <hr />
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'other-loots/select-spell'">
                    {{ 'SIDEBAR.OTHER_LOOTS.SELECT_SPELL_LOOT' | translate }}
                  </a>
                </li>
                <li *ngIf="spellLootHandlerService.selected">
                  <a href="#" routerLinkActive="active" [routerLink]="'other-loots/spell'">
                    {{ 'SIDEBAR.OTHER_LOOTS.SPELL_LOOT_TEMPLATE' | translate }}
                    <keira-unsaved-icon *ngIf="spellLootHandlerService.isUnsaved"></keira-unsaved-icon>
                  </a>
                </li>
                <hr />
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'other-loots/select-fishing'">
                    {{ 'SIDEBAR.OTHER_LOOTS.SELECT_FISHING_LOOT' | translate }}
                  </a>
                </li>
                <li *ngIf="fishingLootHandlerService.selected">
                  <a href="#" routerLinkActive="active" [routerLink]="'other-loots/fishing'">
                    {{ 'SIDEBAR.OTHER_LOOTS.FISHING_LOOT_TEMPLATE' | translate }}
                    <keira-unsaved-icon *ngIf="fishingLootHandlerService.isUnsaved"></keira-unsaved-icon>
                  </a>
                </li>
                <hr />
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'other-loots/select-mail'">
                    {{ 'SIDEBAR.OTHER_LOOTS.SELECT_MAIL_LOOT' | translate }}
                  </a>
                </li>
                <li *ngIf="mailLootHandlerService.selected">
                  <a href="#" routerLinkActive="active" [routerLink]="'other-loots/mail'">
                    {{ 'SIDEBAR.OTHER_LOOTS.MAIL_LOOT_TEMPLATE' | translate }}
                    <keira-unsaved-icon *ngIf="mailLootHandlerService.isUnsaved"></keira-unsaved-icon>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown" [ngClass]="{ active: menuStates.gossip === 'down' }">
            <a (click)="toggleState('gossip')">
              <i class="fa fa-comments"></i>
              <span [translate]="'SIDEBAR.GOSSIP.TITLE'"></span>
            </a>
            <div class="sidebar-submenu" [@slide]="menuStates.gossip">
              <ul>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'gossip/select'">
                    {{ 'SIDEBAR.GOSSIP.SELECT_GOSSIP_MENU' | translate }}
                  </a>
                </li>
                <ng-container *ngIf="gossipHandlerService.selected">
                  <li>
                    <a href="#" routerLinkActive="active" [routerLink]="'gossip/gossip-menu'">
                      {{ 'SIDEBAR.GOSSIP.GOSSIP_MENU' | translate }}
                      <keira-unsaved-icon *ngIf="gossipHandlerService.isGossipMenuTableUnsaved"></keira-unsaved-icon>
                    </a>
                  </li>
                  <ng-container *ngIf="!gossipHandlerService.isNew">
                    <li>
                      <a href="#" routerLinkActive="active" [routerLink]="'gossip/gossip-menu-option'">
                        {{ 'SIDEBAR.GOSSIP.GOSSIP_MENU_OPTION' | translate }}

                        <keira-unsaved-icon *ngIf="gossipHandlerService.isGossipMenuOptionTableUnsaved"></keira-unsaved-icon>
                      </a>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown" [ngClass]="{ active: menuStates.conditions === 'down' }">
            <a (click)="toggleState('conditions')">
              <i class="fas fa-sort-amount-up"></i>
              <span [translate]="'SIDEBAR.CONDITIONS.TITLE'"></span>
            </a>

            <div class="sidebar-submenu" [@slide]="menuStates.conditions">
              <ul>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'conditions/select'">
                    {{ 'SIDEBAR.CONDITIONS.SELECT_CONDITIONS' | translate }}
                  </a>
                </li>
                <ng-container *ngIf="conditionsHandlerService.selected">
                  <li>
                    <a href="#" routerLinkActive="active" [routerLink]="'conditions/conditions'">
                      {{ 'SIDEBAR.CONDITIONS.CONDITIONS' | translate }}
                      <keira-unsaved-icon *ngIf="conditionsHandlerService.isConditionsUnsaved"></keira-unsaved-icon>
                    </a>
                  </li>
                </ng-container>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown" [ngClass]="{ active: menuStates.smartAi === 'down' }">
            <a (click)="toggleState('smartAi')">
              <i class="fa fa-lightbulb"></i>
              <span [translate]="'SIDEBAR.SMARTAI.TITLE'"></span>
            </a>

            <div class="sidebar-submenu" [@slide]="menuStates.smartAi">
              <ul>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'smart-ai/search-existing'">
                    {{ 'SIDEBAR.SMARTAI.SEARCH_BY_SAI' | translate }}
                  </a>
                </li>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'smart-ai/search-entity'">
                    {{ 'SIDEBAR.SMARTAI.SEARCH_BY_ENTITY' | translate }}
                  </a>
                </li>
                <ng-container *ngIf="saiHandlerService.selected">
                  <li>
                    <a href="#" routerLinkActive="active" [routerLink]="'smart-ai/editors'">
                      {{ 'SIDEBAR.SMARTAI.EDITOR' | translate }}
                      <keira-unsaved-icon *ngIf="saiHandlerService.isSaiUnsaved"></keira-unsaved-icon>
                    </a>
                  </li>
                </ng-container>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown" [ngClass]="{ active: menuStates.spell === 'down' }">
            <a (click)="toggleState('spell')">
              <i class="fa fa-magic"></i>
              <span [translate]="'SIDEBAR.SPELL_DBC_OVERRIDES.TITLE'"></span>
            </a>

            <div class="sidebar-submenu" [@slide]="menuStates.spell">
              <ul>
                <li>
                  <a href="#" routerLinkActive="active" [routerLink]="'spell/select'">
                    {{ 'SIDEBAR.SPELL_DBC_OVERRIDES.SEARCH_SPELL' | translate }}
                  </a>
                </li>
                <ng-container *ngIf="spellHandlerService.selected">
                  <li>
                    <a href="#" routerLinkActive="active" [routerLink]="'spell/spell-dbc'">
                      {{ 'SIDEBAR.SPELL_DBC_OVERRIDES.SPELL_DBC_EDITOR' | translate }}
                      <keira-unsaved-icon *ngIf="spellHandlerService.isSpellDbcUnsaved"></keira-unsaved-icon>
                    </a>
                  </li>
                </ng-container>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </perfect-scrollbar>
  </div>

  <button class="btn btn-secondary btn-sm sidebar-button" (click)="toggleSidebar()">
    <i class="fas {{ getSideBarState() ? 'fa-angle-double-right' : 'fa-angle-double-left' }}"></i>
  </button>
</nav>
