<div class="alert-box">
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="btn close" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ content }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onConfirm()" id="yes" [translate]="'MODAL.YES'"></button>
    <button type="button" class="btn btn-secondary" (click)="onCancel()" id="no" [translate]="'MODAL.NO'"></button>
  </div>
</div>
