<keira-top-bar [handler]="handlerService"></keira-top-bar>

<div class="container-fluid">
  <span *ngIf="editorService.loading" [translate]="'LOADING'"></span>

  <div *ngIf="editorService.form && !!editorService.loadedEntityId && !editorService.loading">
    <div class="content-block">
      <keira-query-output
        [docUrl]="docUrl"
        [editorService]="editorService"
        (executeQuery)="editorService.save($event)"
      ></keira-query-output>
    </div>

    <form [formGroup]="editorService.form" class="form-group edit-form">
      <div class="content-block">
        <div class="row">
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="Ground">Ground</label>
            <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'CREATURE.TEMPLATE_MOVEMENT.GROUND' | translate"></i>
            <input [formControlName]="'Ground'" id="Ground" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="Swim">Swim</label>
            <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'CREATURE.TEMPLATE_MOVEMENT.SWIM' | translate"></i>
            <input [formControlName]="'Swim'" id="Swim" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="Flight">Flight</label>
            <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'CREATURE.TEMPLATE_MOVEMENT.FLIGHT' | translate"></i>
            <input [formControlName]="'Flight'" id="Flight" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="Rooted">Rooted</label>
            <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'CREATURE.TEMPLATE_MOVEMENT.ROOTED' | translate"></i>
            <input [formControlName]="'Rooted'" id="Rooted" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="Chase">Chase</label>
            <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'CREATURE.TEMPLATE_MOVEMENT.CHASE' | translate"></i>
            <input [formControlName]="'Chase'" id="Chase" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="Random">Random</label>
            <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'CREATURE.TEMPLATE_MOVEMENT.RANDOM' | translate"></i>
            <input [formControlName]="'Random'" id="Random" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="InteractionPauseTimer">InteractionPauseTimer</label>
            <i
              class="fas fa-info-circle ms-1"
              [placement]="'auto'"
              [tooltip]="'CREATURE.TEMPLATE_MOVEMENT.INTERACTION_PAUSE_TIMER' | translate"
            ></i>
            <input
              [formControlName]="'InteractionPauseTimer'"
              id="InteractionPauseTimer"
              type="number"
              class="form-control form-control-sm"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
