@import './src/assets/scss/_partials/sidebar-width';

.page-wrapper {
  height: 100vh;

  .page-content {
    display: inline-block;
    width: 100%;
    transition: padding-left .3s ease;

    padding-left: $sidebar-width;
  }

  .sidebar {
    left: 0;
  }

  &.toggled {

    .page-content {
      padding-left: 0;
    }
  }

  .attribution{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    letter-spacing: 1px;
  }
}
