<div class="modal-body">
  <p class="lead text-center mb-1">ItemExtendedCost selector</p>

  <form [formGroup]="searchService.queryForm">
    <div class="row">
      <ng-container [formGroup]="searchService.fields">
        <div class="form-group col-4 col-md-3 col-lg-2">
          <input [formControlName]="'id'" type="number" class="form-control form-control-sm" id="id" placeholder="id" />
        </div>
        <div class="form-group col-4 col-md-3 col-lg-2">
          <input
            [formControlName]="'reqHonorPoints'"
            type="number"
            class="form-control form-control-sm"
            id="reqHonorPoints"
            placeholder="reqHonorPoints"
          />
        </div>
        <div class="form-group col-4 col-md-3 col-lg-2">
          <input
            [formControlName]="'reqArenaPoints'"
            type="number"
            class="form-control form-control-sm"
            id="reqArenaPoints"
            placeholder="reqArenaPoints"
          />
        </div>
        <div class="form-group col-4 col-md-3 col-lg-2">
          <input
            [formControlName]="'reqArenaSlot'"
            type="number"
            class="form-control form-control-sm"
            id="reqArenaSlot"
            placeholder="reqArenaSlot"
          />
        </div>
        <div class="form-group col-4 col-md-3 col-lg-2">
          <input
            [formControlName]="'reqItemId1'"
            type="number"
            class="form-control form-control-sm"
            id="reqItemId1"
            placeholder="reqItemId1"
          />
        </div>
        <div class="form-group col-4 col-md-3 col-lg-2">
          <input
            [formControlName]="'reqItemId2'"
            type="number"
            class="form-control form-control-sm"
            id="reqItemId2"
            placeholder="reqItemId2"
          />
        </div>
        <div class="form-group col-4 col-md-3 col-lg-2">
          <input
            [formControlName]="'reqItemId3'"
            type="number"
            class="form-control form-control-sm"
            id="reqItemId3"
            placeholder="reqItemId3"
          />
        </div>
        <div class="form-group col-4 col-md-3 col-lg-2">
          <input
            [formControlName]="'reqItemId4'"
            type="number"
            class="form-control form-control-sm"
            id="reqItemId4"
            placeholder="reqItemId4"
          />
        </div>
        <div class="form-group col-4 col-md-3 col-lg-2">
          <input
            [formControlName]="'reqItemId5'"
            type="number"
            class="form-control form-control-sm"
            id="reqItemId5"
            placeholder="reqItemId5"
          />
        </div>
        <div class="form-group col-4 col-md-3 col-lg-2">
          <input
            [formControlName]="'reqPersonalRating'"
            type="number"
            class="form-control form-control-sm"
            id="reqPersonalRating"
            placeholder="reqPersonalRating"
          />
        </div>
      </ng-container>
      <div class="form-group col-2">
        <input [formControlName]="'limit'" class="form-control form-control-sm" id="limit" placeholder="Unlimited" />
      </div>
      <div class="col-2">
        <button id="search-btn" class="btn btn-primary btn-sm" [disabled]="searchService.queryForm.invalid" (click)="onSearch()">
          <i class="fa fa-search"></i> {{ 'SEARCH' | translate }}
        </button>
      </div>
    </div>
    <keira-highlightjs-wrapper [code]="searchService.query"></keira-highlightjs-wrapper>
  </form>

  <div *ngIf="searchService.rows">
    <ngx-datatable
      class="bootstrap table table-striped text-center datatable-select highlight-select"
      [rows]="searchService.rows"
      [headerHeight]="DTCFG.headerHeight"
      [footerHeight]="DTCFG.footerHeight"
      [columnMode]="DTCFG.columnMode"
      [rowHeight]="DTCFG.rowHeight"
      [limit]="DTCFG.limit"
      [selectionType]="DTCFG.selectionType"
      (select)="onSelect($event)"
    >
      <ngx-datatable-column name="ID" prop="id" [minWidth]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.id }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="HonorPoints" prop="reqHonorPoints"></ngx-datatable-column>
      <ngx-datatable-column name="ArenaPoints" prop="reqArenaPoints"></ngx-datatable-column>
      <ngx-datatable-column name="ArenaSlot" prop="reqArenaSlot"></ngx-datatable-column>
      <ngx-datatable-column name="Pers.Rating" prop="reqPersonalRating"></ngx-datatable-column>
      <ngx-datatable-column name="Item1" prop="reqItemId1"></ngx-datatable-column>
      <ngx-datatable-column name="Count1" prop="itemCount1"></ngx-datatable-column>
      <ngx-datatable-column name="Item2" prop="reqItemId2"></ngx-datatable-column>
      <ngx-datatable-column name="Count2" prop="itemCount2"></ngx-datatable-column>
      <ngx-datatable-column name="Item3" prop="reqItemId3"></ngx-datatable-column>
      <ngx-datatable-column name="Count3" prop="itemCount3"></ngx-datatable-column>
      <ngx-datatable-column name="Item4" prop="reqItemId4"></ngx-datatable-column>
      <ngx-datatable-column name="Count4" prop="itemCount4"></ngx-datatable-column>
      <ngx-datatable-column name="Item5" prop="reqItemId5"></ngx-datatable-column>
      <ngx-datatable-column name="Count5" prop="itemCount5"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" id="modal-cancel-btn" (click)="onCancel()" [translate]="'CANCEL'"></button>
  <button type="button" class="btn btn-success" id="modal-select-btn" (click)="onSave()" [translate]="'SELECT'"></button>
</div>
