<div class="container-fluid">
  <p class="lead mt-3">Welcome on Keira3!</p>
  <p>This application is still under development and more improvements and features will be added with time.</p>
  <p>
    New releases will be announced via <a [href]="AC_FORUM_URL" target="_blank">forum</a>.
    You can also join us on <a [href]="AC_DISCORD_URL" target="_blank">Discord</a>
    in the <strong>#keira-editor</strong> room.
  </p>
  <p>
    Please report any bugs or suggestions using
    <a [href]="KEIRA3_REPO_URL + '/issues/new'" target="_blank">the official repository</a>.
    If you like Keira3, don't forget to give us a &#11088; on GitHub!
  </p>
  <p>
    I work on Keira3 during my spare time, please
    <a [href]="PAYPAL_DONATE_URL" target="_blank">support me with a donation</a> ❤
  </p>
  <p>
    I hope you enjoy using this software and don't forget to contribute with the community by
    <a href="http://www.azerothcore.org/wiki/Contribute#how-to-create-a-pull-request" target="_blank">
      sharing your code
    </a>!
  </p>

  <hr>

  <p class="lead">System details:</p>

  <table class="table table-striped table-bordered table-sm">
    <tbody>
    <tr>
      <td>Keira Version:</td>
      <td>{{ KEIRA_VERSION }}</td>
    </tr>
    <ng-container *ngIf="coreVersions">
      <tr>
        <td>AC Core version:</td>
        <td id="core-version">{{ coreVersions.core_version }}</td>
      </tr>
      <tr>
        <td>AC commit hash:</td>
        <td id="core-revision">
          <a [href]="getCommit(coreVersions.core_revision)" target="_blank">
            {{ coreVersions.core_revision }}
          </a>
          <button class="btn btn-secondary btn-sm ml-2 px-2 py-1" ngxClipboard [cbContent]="getCommit(coreVersions.core_revision)">
            <i class="far fa-copy fa-sm"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>AC DB release:</td>
        <td id="db-version">{{ coreVersions.db_version }}</td>
      </tr>
    </ng-container>
    <tr *ngIf="dbWorldVersion">
      <td>AC World DB version:</td>
      <td id="db-world-version">{{ dbWorldVersion }}</td>
    </tr>
    </tbody>
  </table>

  <hr>

  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      [(ngModel)]="configService.debugMode"
      id="debug-mode"
    >
    <label class="form-check-label" for="debug-mode">
      Enable Keira3 Debug mode
    </label>
  </div>

</div>
