<keira-top-bar [handler]="handlerService"></keira-top-bar>

<div class="container-fluid">
  <span *ngIf="editorService.loading" [translate]="'LOADING'"></span>

  <div [hidden]="!editorService.form || !editorService.loadedEntityId || editorService.loading">
    <div class="content-block">
      <keira-query-output
        [docUrl]="docUrl"
        [editorService]="editorService"
        (executeQuery)="editorService.save($event)"
      ></keira-query-output>
    </div>

    <div class="content-block">
      <tabset id="spell-dbc-tabset">
        <tab heading="Base" id="Base">
          <keira-spell-dbc-base [formGroup]="editorService.form"></keira-spell-dbc-base>
        </tab>
        <tab heading="Effects" id="Effects">
          <keira-spell-dbc-effects [formGroup]="editorService.form"></keira-spell-dbc-effects>
        </tab>
        <tab heading="Items" id="Items">
          <keira-spell-dbc-items [formGroup]="editorService.form"></keira-spell-dbc-items>
        </tab>
        <tab heading="Flags" id="Flags">
          <keira-spell-dbc-flags [formGroup]="editorService.form"></keira-spell-dbc-flags>
        </tab>
        <tab heading="Texts" id="Texts">
          <keira-spell-dbc-texts [formGroup]="editorService.form"></keira-spell-dbc-texts>
        </tab>
        <tab heading="Misc" id="Misc">
          <keira-spell-dbc-misc [formGroup]="editorService.form"></keira-spell-dbc-misc>
        </tab>
      </tabset>
    </div>
  </div>
</div>
