.q0  { color: #9d9d9d !important; }
.q1  { color: #fff    !important; }
.q2  { color: #1eff00 !important; }
.q3  { color: #0070dd !important; }
.q4  { color: #a335ee !important; }
.q5  { color: #ff8000 !important; }
.q6  { color: #e5cc80 !important; }
.q7  { color: #0cf    !important; }

.item-level { color: #ffd100 !important }

.item-preview {
  text-align: left;
  font-family: Verdana, "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;

  line-height: 17px;
  width: 300px;
  padding: 10px;

  color: #ccc;
  background-color: #080d22;
  border: 2px solid #6b6d78;
  border-radius: 3px;
}

.capitalize { text-transform: capitalize; }
