<app-top-bar [handler]="handlerService"></app-top-bar>

<div class="container-fluid">

  <span *ngIf="editorService.loading">Loading...</span>

  <div *ngIf="editorService.form && !!editorService.loadedEntityId && !editorService.loading">

    <app-query-output [editorService]="editorService" (executeQuery)="editorService.save($event)"></app-query-output>

    <hr class="mt-2 mb-1">

    <div class="wiki-link">
      <a [href]="docUrl" target="_blank">
        <i class="fas fa-link"></i> {{ editorService.entityTable }} documentation
      </a>
    </div>

    <form
      [formGroup]="editorService.form"
      class="form-group edit-form"
    >

      <br>
      <div class="row">
        <div class="form-group col-12 col-sm-4 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="entry">entry</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'The unique entry of the item'"
          ></i>
          <input [formControlName]="'entry'" id="entry" type="number" class="form-control form-control-sm">
        </div>

        <div class="form-group col-12 col-sm-8 col-md-8 col-lg-4 col-xl-3">
          <label class="control-label" for="name">name</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'name'" id="name" class="form-control form-control-sm">
        </div>

        <div class="form-group col-12 col-sm-7 col-md-7 col-lg-5 col-xl-4">
          <label class="control-label" for="description">description</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'description'" id="description" class="form-control form-control-sm">
        </div>

        <div class="form-group col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3">
          <label class="control-label" for="ScriptName">ScriptName</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'ScriptName'" id="ScriptName" class="form-control form-control-sm">
        </div>

      </div>

      <div class="row">
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="class">class</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'class'" id="class" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="subclass">subclass</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'subclass'" id="subclass" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="SoundOverrideSubclass">SoundOverrideSubclass</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'SoundOverrideSubclass'" id="SoundOverrideSubclass" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="displayid">displayid</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'displayid'" id="displayid" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="Quality">Quality</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'Quality'" id="Quality" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="Flags">Flags</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'Flags'" id="Flags" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="FlagsExtra">FlagsExtra</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'FlagsExtra'" id="FlagsExtra" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="BuyCount">BuyCount</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'BuyCount'" id="BuyCount" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="BuyPrice">BuyPrice</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'BuyPrice'" id="BuyPrice" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="SellPrice">SellPrice</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'SellPrice'" id="SellPrice" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="InventoryType">InventoryType</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'InventoryType'" id="InventoryType" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="maxcount">maxcount</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'maxcount'" id="maxcount" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="stackable">stackable</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'stackable'" id="stackable" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="ContainerSlots">ContainerSlots</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'ContainerSlots'" id="ContainerSlots" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="PageText">PageText</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'PageText'" id="PageText" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="LanguageID">LanguageID</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'LanguageID'" id="LanguageID" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="PageMaterial">PageMaterial</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'PageMaterial'" id="PageMaterial" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="startquest">startquest</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'startquest'" id="startquest" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="lockid">lockid</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'lockid'" id="lockid" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="Material">Material</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'Material'" id="Material" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="sheath">sheath</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'sheath'" id="sheath" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="RandomProperty">RandomProperty</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'RandomProperty'" id="RandomProperty" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="RandomSuffix">RandomSuffix</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'RandomSuffix'" id="RandomSuffix" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="area">area</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'area'" id="area" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="Map">Map</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'Map'" id="Map" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="BagFamily">BagFamily</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'BagFamily'" id="BagFamily" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="TotemCategory">TotemCategory</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'TotemCategory'" id="TotemCategory" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="ArmorDamageModifier">ArmorDamageModifier</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'ArmorDamageModifier'" id="ArmorDamageModifier" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="duration">duration</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'duration'" id="duration" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="ItemLimitCategory">ItemLimitCategory</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'ItemLimitCategory'" id="ItemLimitCategory" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="HolidayId">HolidayId</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'HolidayId'" id="HolidayId" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="DisenchantID">DisenchantID</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'DisenchantID'" id="DisenchantID" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="FoodType">FoodType</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'FoodType'" id="FoodType" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="minMoneyLoot">minMoneyLoot</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'minMoneyLoot'" id="minMoneyLoot" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="maxMoneyLoot">maxMoneyLoot</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'maxMoneyLoot'" id="maxMoneyLoot" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="flagsCustom">flagsCustom</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'flagsCustom'" id="flagsCustom" type="number" class="form-control form-control-sm">
        </div>
      </div>

      <span class="category-title">
        Stats <i class="fas fa-info-circle ml-1" [placement]="'auto'" [tooltip]="'TODO'"></i>
      </span>
      <div class="row">
        <div class="form-group col-12 col-sm-6 col-md-3 col-lg-3 col-xl-2">
          <label class="control-label" for="ScalingStatDistribution">ScalingStatDistribution</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'ScalingStatDistribution'" id="ScalingStatDistribution" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <label class="control-label" for="ScalingStatValue">ScalingStatValue</label>
          <i
            class="fas fa-info-circle ml-1" [placement]="'auto'"
            [tooltip]="'TODO'"
          ></i>
          <input [formControlName]="'ScalingStatValue'" id="ScalingStatValue" type="number" class="form-control form-control-sm">
        </div>
        <div class="form-group col-12 col-sm-4 col-md-3 col-lg-3 col-xl-2">
          <label class="control-label" for="StatsCount">count</label>
          <input [formControlName]="'StatsCount'" id="StatsCount" type="number" class="form-control form-control-sm">
        </div>
      </div>
      <div class="row">

        <div
          *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]"
          class="form-group col-12 col-sm-4 col-md-3 col-lg-2 col-xl"
        >
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="stat_type{{ i }}">type{{ i }}</label>
              <input [formControlName]="'stat_type' + i" id="stat_type{{ i }}" type="number" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="stat_value{{ i }}">value{{ i }}</label>
              <input [formControlName]="'stat_value' + i" id="stat_value{{ i }}" type="number" class="form-control form-control-sm">
            </div>
          </div>
        </div>

      </div>

      <span class="category-title">
        Spell <i class="fas fa-info-circle ml-1" [placement]="'auto'" [tooltip]="'TODO'"></i>
      </span>
      <div class="row">

        <div
          *ngFor="let i of [1,2,3,4,5]"
          class="form-group col-12 col-sm-6 col-md-4 col-lg"
        >
          <div class="row">
            <div class="col-12">
              <label class="control-label" for="spellid_{{ i }}">id_{{ i }}</label>
              <input [formControlName]="'spellid_' + i" id="spellid_{{ i }}" type="number" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="spelltrigger_{{ i }}">trigger_{{ i }}</label>
              <input [formControlName]="'spelltrigger_' + i" id="spelltrigger_{{ i }}" type="number" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="spellcharges_{{ i }}">charges_{{ i }}</label>
              <input [formControlName]="'spellcharges_' + i" id="spellcharges_{{ i }}" type="number" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="spellppmRate_{{ i }}">ppmRate_{{ i }}</label>
              <input [formControlName]="'spellppmRate_' + i" id="spellppmRate_{{ i }}" type="number" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="spellcooldown_{{ i }}">cooldown_{{ i }}</label>
              <input [formControlName]="'spellcooldown_' + i" id="spellcooldown_{{ i }}" type="number" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="spellcategory_{{ i }}">category_{{ i }}</label>
              <input [formControlName]="'spellcategory_' + i" id="spellcategory_{{ i }}" type="number" class="form-control form-control-sm">
            </div>
            <div class="col-12">
              <label class="control-label" for="spellcategorycooldown_{{ i }}">categorycooldown_{{ i }}</label>
              <input [formControlName]="'spellcategorycooldown_' + i" id="spellcategorycooldown_{{ i }}" type="number" class="form-control form-control-sm">
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12 col-lg-6">

          <span class="category-title">
        Damage <i class="fas fa-info-circle ml-1" [placement]="'auto'" [tooltip]="'TODO'"></i>
      </span>
          <div class="row">

            <div
              *ngFor="let i of [1,2]"
              class="form-group col-12 col-sm-4 col-md-3 col-lg"
            >
              <div class="row">
                <div class="col-12">
                  <label class="control-label" for="dmg_min{{ i }}">min{{ i }}</label>
                  <input [formControlName]="'dmg_min' + i" id="dmg_min{{ i }}" type="number" class="form-control form-control-sm">
                </div>
                <div class="col-12">
                  <label class="control-label" for="dmg_max{{ i }}">max{{ i }}</label>
                  <input [formControlName]="'dmg_max' + i" id="dmg_max{{ i }}" type="number" class="form-control form-control-sm">
                </div>
                <div class="col-12">
                  <label class="control-label" for="dmg_type{{ i }}">type{{ i }}</label>
                  <input [formControlName]="'dmg_type' + i" id="dmg_type{{ i }}" type="number" class="form-control form-control-sm">
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="col-12 col-lg-6">

          <span class="category-title">
            Socket <i class="fas fa-info-circle ml-1" [placement]="'auto'" [tooltip]="'TODO'"></i>
          </span>
          <div class="row">
            <div class="form-group col-12 col-sm-6 col-md-4 col-lg col-xl-5">
              <label class="control-label" for="socketBonus">socketBonus</label>
              <i
                class="fas fa-info-circle ml-1" [placement]="'auto'"
                [tooltip]="'TODO'"
              ></i>
              <input [formControlName]="'socketBonus'" id="socketBonus" type="number" class="form-control form-control-sm">
            </div>
            <div class="form-group col-12 col-sm-6 col-md-4 col-lg col-xl-5">
              <label class="control-label" for="GemProperties">GemProperties</label>
              <i
                class="fas fa-info-circle ml-1" [placement]="'auto'"
                [tooltip]="'TODO'"
              ></i>
              <input [formControlName]="'GemProperties'" id="GemProperties" type="number" class="form-control form-control-sm">
            </div>
          </div>
          <div class="row">

            <div
              *ngFor="let i of [1,2,3]"
              class="form-group col-12 col-sm-4 col-md-3 col-lg"
            >
              <div class="row">
                <div class="col-12">
                  <label class="control-label" for="socketColor_{{ i }}">Color_{{ i }}</label>
                  <input [formControlName]="'socketColor_' + i" id="socketColor_{{ i }}" type="number" class="form-control form-control-sm">
                </div>
                <div class="col-12">
                  <label class="control-label" for="socketContent_{{ i }}">Content_{{ i }}</label>
                  <input [formControlName]="'socketContent_' + i" id="socketContent_{{ i }}" type="number" class="form-control form-control-sm">
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>


    </form>

  </div>
</div>
