<ng-container *ngIf="editorService">
  <div class="query-type-switch" [hidden]="editorService.isNew">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="diff-query-input" [(ngModel)]="selectedQuery" [value]="'diff'">
      <label class="form-check-label" for="diff-query-input">Diff-query</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="full-query-input" [(ngModel)]="selectedQuery" [value]="'full'">
      <label class="form-check-label" for="full-query-input">Full-query</label>
    </div>
  </div>

  <app-highlightjs-wrapper id="diff-query" [code]="editorService.diffQuery" [hidden]="showFullQuery()"></app-highlightjs-wrapper>
  <app-highlightjs-wrapper id="full-query" [code]="editorService.fullQuery" [hidden]="!showFullQuery()"></app-highlightjs-wrapper>

  <button type="button" class="btn btn-secondary btn-sm" (click)="copy()" id="copy-btn">Copy</button>
  <button type="button" class="btn btn-primary btn-sm" (click)="execute()" id="execute-btn">Execute</button>

  <app-query-error [error]="editorService.error"></app-query-error>
</ng-container>
