.item-preview {
  text-align: center;
  margin: auto;

  .item-stats {
    border-radius: 3px;
    text-align: left;
    font-family: Verdana, 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    line-height: 25px;
    width: auto;
    min-width: 200px;
    padding: 12px;
    color: #ccc;
  }

  .icon-container {
    height: 100px;
  }

  .item-stock-container {
    position: relative;
    height: 25px;
    margin-top: -30px;
  }

  .stackable {
    position: sticky;
    margin-right: -50px;
    font-weight: 700;
    font-size: 30px;
    white-space: nowrap;
    text-shadow: 2px 2px #000;
  }

  .stackable-100 {
    margin-right: -35px;
  }
}
