<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="lead font-weight-bold mt-3">Not ready yet</div>
      <p>
        This feature is not fully implemented and currently not available.
        It will be introduced in a future release of Keira3.
      </p>
      <p>
        <strong><i>When will it be ready?</i></strong>
        <br>
        Since I work on Keira3 during my spare time, it is hard for me to predict when each feature will be ready.
      </p>
      <p>
        <strong><i>Where should I check for new releases?</i></strong>
        <br>
        New releases will be announced via <a [href]="AC_DISCORD_URL" target="_blank">Discord</a>,
        <a [href]="AC_FORUM_URL" target="_blank">forum</a> and of course in
        <a [href]="KEIRA3_REPO_URL" target="_blank">the official repository</a>.
      </p>
      <p>
        <strong><i>How can I help you?</i></strong>
        <br>
        You can <a [href]="PAYPAL_DONATE_URL" target="_blank">support me with a donation</a>
        to keep the development of Keira3 active.
      </p>
    </div>
  </div>
</div>
