name: build-mac
on:
  push:
    branches:
      - 'master'
    paths-ignore:
      - "**/*.md"
  pull_request:
    paths-ignore:
      - "**/*.md"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        node-version: [22]
        os: [macos-14, macos-15]
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}-node-${{ matrix.node-version }}

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache Node.js modules
        uses: actions/cache@v4
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-

      # because of https://github.com/actions/runner/issues/2958
      - name: macos-13 dependencies fix
        if: matrix.os == 'macos-13'
        run: |
          sudo -H pip install setuptools
      - name: macos-14 dependencies fix
        if: matrix.os == 'macos-14'
        run: |
          brew install python-setuptools

      - name: Install dependencies
        run: npm ci --include=optional

      - name: electron:mac:ci
        run: npm run electron:mac:ci
