name: main
on:
  push:
    branches:
      - 'master'
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        node-version: [18]
        os: [ubuntu-20.04, macos-11]
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}-node-${{ matrix.node-version }}

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache Node.js modules
        uses: actions/cache@v3
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Unit and Integration tests
        uses: nick-invision/retry@v2
        with:
          max_attempts: 5
          command: npm run test-ci
          timeout_minutes: 20
      - name: Build
        run: npm run build:prod
      - name: End-to-End tests
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run e2e

