name: main
on:
  push:
    branches:
      - 'master'
    paths-ignore:
      - "**/*.md"
  pull_request:
    paths-ignore:
      - "**/*.md"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        node-version: [20]
        os: [ubuntu-22.04, ubuntu-24.04, macos-13, macos-14]
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}-node-${{ matrix.node-version }}

    steps:
      - uses: actions/checkout@v4
      - name: Fetch main branch
        if: github.ref != 'refs/heads/master'
        run: git rev-parse --verify master || git remote set-branches origin master && git fetch --depth 1 origin master && git branch master origin/master
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache Node.js modules
        uses: actions/cache@v4
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - name: Install dependencies
        run: npm ci --include=optional

      - name: Lint
        run: npm run lint
      - name: Unit and Integration tests
        uses: nick-invision/retry@v3
        with:
          max_attempts: 5
          command: npm run test-ci
          timeout_minutes: 20
      - name: Build
        run: npm run build:prod
      - name: Allow unprivileged user namespaces
        if: matrix.os == 'ubuntu-24.04'
        run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
      - name: End-to-End tests
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run e2e

